.chartUp {
  margin: 1% auto 0;
  height: 15%;
  width: 98%;
}
.chartDown {
  height: 83%;
  width: 98%;
  margin: 0 auto;
  overflow: auto;
  scrollbar-width: thin;
  color: rgb(28, 244, 249);
  font-size: 12px;
  text-align: center;
}
.buttonGroup {
  width: 20%;
  height: 70%;
  margin-right: 2%;
  background: rgb(10, 102, 238);
  color: white;
  outline: none;
  border: 1px solid rgb(0, 110, 227);
  cursor: pointer;
}
.tableThead {
  background: rgba(2, 48, 115, 0.6);
  border-bottom: 1px rgba(78, 110, 145, 0.5) solid;
}
.tableBorder {
  border-right: 1px rgba(78, 110, 145, 0.5) solid;
}
.tableRow {
  border-bottom: 1px rgba(78, 110, 145, 0.5) solid;
}
