.TodayBrokenTable {
  height: 95%;
  width: 100%;
  margin-top: -2%;
  color: rgb(28, 244, 249);
  font-size: 8px;
  line-height: 2rem;
  text-align: center;
  overflow: auto;
}
.TodayBrokenTableEvenRow {
  background: rgba(0, 110, 227, 0.3);
}
.TodayBrokenTableBorder {
  border-left: 0.5px rgba(0, 110, 227, 0.4) solid;
  border-right: 0.5px rgba(0, 110, 227, 0.4) solid;
}
