.emergencyButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
    height: 6%;
    width: 100%;
    font-size: 12px;
}
.emergencyButtons > button {
    width: 20%;
    height: 2.8vh;
    margin: 0% 2%;
    padding-top: 0;
    font-size: 12px;
    color: white;
    z-index: 100;
    border: 0.5px solid rgb(0, 83, 229);
}