.pointContainer {
  position: relative;
  height: 100%;
}

.pointTagImg {
  height: 3%;
  position: absolute;
  width: 2%;
}

.pointTagText {
  height: 10%;
  position: absolute;
  width: 10%;
  color: #fff;
  font-size: 1rem;
}