.airConditioningLeft {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.airConditioningBlocks {
  width: 90%;
  height: 8%;
  margin-top: 1%;
}
.airConditioningHumidityBlocks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.airConditioningHumidityPie {
  width: 35%;
  height: 100%;
}
.airConditioningHumidityTitle {
  color: rgb(11, 110, 239);
  width: 40%;
  text-align: center;
}
.airConditioningHumidityValue {
  width: 20%;
  text-align: center;
  font-size: 24px;
  font: bolder;
  color: rgb(255, 255, 255);
}
.airConditioningSwitchBlocks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.airConditioningSwitchTitle {
  width: 70%;
  height: 100%;
  color: rgb(11, 110, 239);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* line-height: 4.3rem; */
}
.airConditioningSwitchButtons {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.airConditioningSwitchButtons > span {
  width: 48%;
  height: 40%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  border: 0.5px solid rgb(0, 83, 229);
  background: rgba(0, 83, 229, 0.3);
}
.airConditioningRunButtons {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.airConditioningRunButtons > span {
  width: 70%;
  height: 40%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  border: 0.5px solid rgb(0, 83, 229);
  background: rgba(0, 83, 229, 0.3);
}
.airConditioningFrequencyTitle {
  color: rgb(11, 110, 239);
  width: 70%;
  text-align: center;
}
.statusBackground {
  display: inline-block;
  width: 5rem;
  height: 1.5em;
  line-height: 1.5em;
  outline: none;
  border: none;
  color: white;
  background: rgb(10, 102, 238);
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgb(10, 102, 238) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left,
    right,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(50%, rgb(10, 102, 238)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgb(10, 102, 238) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgb(10, 102, 238) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 0%,
    rgb(10, 102, 238) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(10, 102, 238) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 );
}
:root .statusBackground {
  filter: none;
}
