.backOfParking {
  width: 100%;
  height: 100vh;
  background: url(./img/BG2.jpg);
  background-size: 100% 100%;
  display: flex;
}
.leftPane {
  width: 16%;
  height: 90.6vh;
  text-align: center;
  margin: 4vh 2% 3vh 9%;
}
.middlePane {
  width: 52%;
  height: 90.6vh;
  text-align: center;
  margin: 4vh 2% 3vh 0%;
}
.rightPane {
  width: 16%;
  height: 90.6vh;
  text-align: center;
  margin: 4vh 2% 3vh 0%;
}
