.floorNavigation {
  position: absolute;
  height: 30%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 7%;
  left: 2%;
}
.floorMenuTitle {
  width: 100%;
  color: white;
  background: url("./Image/BuildingList.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 12px;
  text-align: center;
  position: relative;
}
.floorMenuPopContents {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.floorMenuContent {
  width: 100%;
  height: 90%;
  background: url("./Image/FloorList.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 10%;
}
.floorMenuContent p {
  width: 100%;
  position: absolute;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.floorMenuPopContent {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
}
.floorMenuPopContent {
    position: absolute;
    top: 0;
    width: 100%;
}
.floorMenuPopContent {
  position: absolute;
  top: 0;
  width: 100%;
}
.floorMenuContent p:hover {
  cursor: pointer;
  background: -webkit-linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 188, 255, 0.5),
    rgba(0, 0, 0, 0)
  );
}
:global(.ant-progress-inner) {
  background-color: rgba(233, 233, 233, 0.2) !important;
  border-radius: 0;
}
:global(.ant-progress-success-bg,
.ant-progress-bg) {
  border-radius: 0;
}
.antDropdownLink {
  display: block;
  padding-top: 50%;
  color: white !important;
  background: -webkit-linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 188, 255, 0.5),
    rgba(0, 0, 0, 0)
  ) !important;
   background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 188, 255, 0.5),
    rgba(0, 0, 0, 0)
  ) !important;
  border:none;
  width:100%;
  height:80%;
  outline:none;
}

.antDropdownLink span{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 35% 0 0 10%;
    font-size: 1.3rem;
}


.antDropdownLink i{
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 2rem;
}


.antDropdownLink:active {
}

:global(.ant-dropdown-menu) {
  width: 100% !important;
  background: rgba(0, 0, 0, 0) !important;
  background: url("./Image/FloorList.png") !important;
  background-size: 100% 100% !important;
  border-radius: 0 !important;
}

:global(.ant-dropdown-menu-item) {
  color: white !important;
  font-size: 1rem !important;
}
