.ParkingTitle {
  width: 130%;
  height: 112px;
  margin-left: -30%;
}
.titleName {
  height: 62px;
  background: url(../img/tabUp.png);
  background-size: 100% 100%;
  margin-bottom: -15px;
  color: rgb(255, 167, 72);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleTimes {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding-left: 10%;
  padding-right: 10%;
  background: url(../img/tabDown.png);
  background-size: 100% 100%;
}
.titleDate {
  color: rgb(255, 167, 72);
  padding-bottom: 5px;
}
.titleTime {
  color: rgb(255, 255, 255);
}
