:global(.ant-select-selection) {
  background: rgba(0, 0, 0, 0) !important;
  border: 1px rgb(0, 83, 229) solid !important;
  border-radius: 0px;
  color: white;
  font-size: 1.5rem;
  height: 28px !important;
  padding: 1% 0 !important;
  width: 8rem;
}
.titleDropdownMenu {
  background: rgba(0, 83, 229, 0.3);
}
:global(.ant-select-dropdown-menu-item) {
  font-size: 1.5rem;
  text-indent: 0 !important;
  padding: 2% 8% !important;
  color: white;
}
:global(.ant-select-dropdown-menu-item-selected) {
  background: rgba(0, 83, 229, 0.5) !important;
}
:global(.ant-select-dropdown-menu-item:first-child) {
  border-radius: 0 !important;
}
:global(.ant-select-dropdown-menu-item:last-child) {
  border-radius: 0 !important;
}
:global(.ant-select-dropdown-menu-item:hover) {
  background: rgba(0, 83, 229, 0.5) !important;
}
:global(.ant-select-selection:active) {
  background: rgba(0, 83, 229, 0.5) !important;
}
